@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
$bc-color: #5D1E1C;
$pg-color: #ffffff;
$searchfont-color: #646363;
$font-color: #000000;
$anchorfont-color: #ffffff;
$bc-color: #5d1e1c;

* {
    margin: 0px;
    padding: 0px;
    li{
        list-style-type: none;
        
        a{
            text-decoration: none;
            color: $font-color;
        }
    }
}
html{
    scroll-behavior: smooth;
}
body {
    display: flex;

    flex-direction: column;
}
.god{
    margin-left: 50px;
    margin-left: 330px;
}
#navega{
    display: flex;
    background-color: $bc-color;
    align-items: center;
    justify-content: center;
   
    height: 635px;
    width: 350px;
    position: fixed; 
    top: 0px;   
    left: 0px; 
    .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $pg-color;
        border-radius: 15px;
        width: 270px;
        height: 590px;
        list-style-type: none;
       #men{
        display: flex;
        justify-content: center;
    }
    .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $pg-color;
        z-index: 10;
       width: 400px;
        height: 300px;
        
      }
      li {
        position: relative;
      }
    
      li:hover .submenu {
        display: block;
      }
        
        li{
            background-color: $bc-color;
            border-radius: 8px;
            margin: 5px;
            display: flex;
            justify-content: center;
        }
        
        a {
            background-color: $bc-color;
            color: $anchorfont-color;
            font-family: hammersmith, sans-serif;
            font-size: 14px;
            font-weight: 800;
            text-decoration: none;
            margin-left: 12px;
            margin: 8px;
            border-radius: 15px;
        }
    }
}
#button{
    display: flex;
    
    background-color: $bc-color;
    border-radius: 10px;
    width: 110px;
    height: 50px;
    font-family: hammersmith, sans-serif;
    align-items: center;
    justify-content: center;
    a{
        color: $anchorfont-color;
    }
}
header {
    font-size: 55px;
    height: 230px;
    width: 1000px;
    display: flex;
    background-color: $bc-color;
    font-family: "Chewy", system-ui;
    color: $anchorfont-color;
    figure{
        margin-top: 18px;
        margin-left: 50px;
        height: 190px;
            width: 230px;
            border: #ffffff solid;
        img{
            margin: 15px;
            border: #ffffff solid;
            object-fit: cover;
            height: 160px;
            width: 200px;
        }
    }
    #a{
        letter-spacing: 3px;
        margin-left: 30px;

    }
    .b {
        h2 {
            margin-top: 17px;
            margin-left: 4px;
        }

        display: flex;
        margin-left: 100px;
    }

    h3 {
        margin-top: -40px;
        margin-left: 370px;
    }

    nav {
        margin-left: 100px;
        margin-top: 80px;
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 45px;
        width: 320px;
        background-color: $pg-color;
        color: $searchfont-color;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;

        h2 {
            font-weight: 100;
            margin-left: 15px;
        }

        img {
            margin-left: 150px;
            width: 24px;
            height: 30px;
            object-fit: cover;
        }
    }
}

#container {
    width: 1000px;
    height: 5850px;
    background-color: $bc-color;
    display: flex;
    justify-content: center;

    section {
        width: 920px;
        height: 6050px;
        display: flex;
        border-radius: 15px 15px 0px 0px;
        background-color: $pg-color;
        flex-direction: column;
        align-items: center;

        .pt1 {
            display: flex;
            flex-direction: column;
            .im1 {
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 60px;
                margin-right: 60px;
                margin-top: 30px;
                background-color: $bc-color;
                width: auto;
                height: auto;
            }

            img {
                margin: 15px;
                height: 250px;
                width: 700px;
                object-fit: cover;
        }
        li {
            margin-left: 60px;
            list-style-type: none;
            
        }
        }

        .pt2 {
            display: flex;
            flex-direction: column;

            #tittle2 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 25px;
                font-weight: 700;
                width: 400px;
                height: 50px;
                border-radius: 30px;
                margin-left: 40px;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
            }

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 40px;
                    margin-top: 30px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 300px;
                    width: 400px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                list-style-type: none;
                margin-left: 40px;
                width: 430px;
            }
        }

        .pt3 {
            display: flex;
            flex-direction: column;

            #tittle3 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 25px;
                font-weight: 700;
                width: 400px;
                height: 50px;
                border-radius: 30px;
                margin-left: 20px;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
            }

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img3 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                    margin-top: 30px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 300px;
                    width: 400px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                display: flex;
                list-style-type: none;
                margin-right: 30px;
                justify-content: flex-end;
            }
        }

        #presidentes {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
            height: 70px;
            width: 600px;
            background-color: $bc-color;
            border-radius: 30px;
            color: $anchorfont-color;
            font-size: 40px;
            font-weight: 700;
            font-family: hammersmith, sans-serif;
        }

        .pt4 {
            display: flex;
            flex-direction: column;

            #tittle4 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 25px;
                font-weight: 700;
                width: 400px;
                height: 50px;
                border-radius: 30px;
                margin-left: 40px;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
            }

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img4 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 40px;
                    margin-top: 30px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 400px;
                    width: 400px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                list-style-type: none;
                margin-left: 40px;
            }
        }

        .pt5 {
            display: flex;
            flex-direction: column;

            #tittle5 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 25px;
                font-weight: 700;
                width: 480px;
                height: 50px;
                border-radius: 30px;
                margin-left: 20px;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
            }

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img5 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 30px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 640px;
                    width: 370px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                display: flex;
                list-style-type: none;
                margin-right: 30px;
                justify-content: flex-end;
                margin-top: -45px;
            }
        }

        .pt6 {
            display: flex;
            flex-direction: column;

            #tittle6 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 25px;
                font-weight: 700;
                width: 400px;
                height: 50px;
                border-radius: 30px;
                margin-left: 20px;
                margin-top: 60px;
                align-items: center;
                justify-content: center;
            }

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img6 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 30px;
                    margin-top: 30px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 600px;
                    width: 400px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                list-style-type: none;
                margin-left: 70px;
            }
        }

        .pt7 {
            display: flex;
            flex-direction: column;

            #tittle7 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 25px;
                font-weight: 700;
                width: 400px;
                height: 50px;
                border-radius: 30px;
                margin-left: 20px;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
            }

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img7 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 30px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 600px;
                    width: 400px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                display: flex;
                list-style-type: none;
                margin-right: 30px;
                justify-content: flex-end;
                margin-top: -30px;
            }
        }

        .pt8 {
            display: flex;
            flex-direction: column;

            #tittle8 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 25px;
                font-weight: 700;
                width: 400px;
                height: 50px;
                border-radius: 30px;
                margin-left: 20px;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
            }

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img8 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 30px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 500px;
                    width: 300px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    margin-top: 40px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                list-style-type: none;
                margin-left: 30px;
                margin-top: -70px;
            }
        }

        .pt9 {
            display: flex;
            flex-direction: column;

            #tittle9 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 25px;
                font-weight: 700;
                width: 400px;
                height: 50px;
                border-radius: 30px;
                margin-left: 50px;
                margin-top: 80px;
                align-items: center;
                justify-content: center;
            }

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img9 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 30px;
                    margin-top: 30px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 600px;
                    width: 300px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                display: flex;
                list-style-type: none;
                margin-right: 30px;
                justify-content: flex-end;
                margin-top: -30px;
            }
        }
    }
}
#container1 {
    width: 1000px;
    height: 4140px;
    background-color: $bc-color;
    display: flex;
    justify-content: center;

    section {
        width: 920px;
        height: 4100px;
        display: flex;
        border-radius: 0px 0px 15px 15px;
        background-color: $pg-color;
        flex-direction: column;
        align-items: center;

        .pt10 {
            display: flex;
            flex-direction: column;

            #tittle10 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 27px;
                font-weight: 700;
                width: 450px;
                height: 60px;
                border-radius: 30px;
                margin-left: 230px;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
            }

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img10 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 30px;
                    margin-top: 20px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 300px;
                    width: 400px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    margin-top: 65px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                list-style-type: none;
                margin-left: 40px;
                margin-top: -25px;
            }
        }

        .pt11 {
            display: flex;
            flex-direction: column;

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img11 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                    margin-top: -30px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 260px;
                    width: 400px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    margin-left: 35px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                display: flex;
                list-style-type: none;
                margin-right: 30px;
                margin-top: -45px;
                justify-content: flex-end;
            }

            .minitext {
                margin: 20px;
                margin-left: 35px;
                margin-top: 3px;
                text-align: justify;
                font-family: hammersmith, sans-serif;
                font-size: 21px;
            }
        }

        .pt12 {
            display: flex;
            flex-direction: column;

            #tittle12 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 29px;
                font-weight: 700;
                width: 450px;
                height: 60px;
                border-radius: 30px;
                margin-left: 230px;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
            }

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img12 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 20px;
                    margin-top: -60px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 300px;
                    width: 400px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                list-style-type: none;
                margin-left: 20px;
                margin-top: -100px;
            }
        }

        .pt13 {
            display: flex;
            flex-direction: column;

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img13 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                    margin-top: 10px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 300px;
                    width: 400px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                display: flex;
                list-style-type: none;
                margin-right: 20px;
                margin-top: -50px;
                justify-content: flex-end;
            }

            .minitext {
                margin: 20px;
                text-align: justify;
                font-family: hammersmith, sans-serif;
                font-size: 21px;
            }
        }

        .pt14 {
            display: flex;
            flex-direction: column;

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img14 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 20px;
                    margin-top: 20px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 300px;
                    width: 400px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                list-style-type: none;
                margin-left: 20px;
            }
        }

        .pt15 {
            display: flex;
            flex-direction: column;

            #tittle15 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 32px;
                font-weight: 700;
                width: 500px;
                height: 60px;
                border-radius: 30px;
                margin-left: 160px;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
            }

            .content {
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img15 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 30px;
                    margin-top: 30px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;

                    img {
                        margin: 15px;
                        height: 270px;
                        width: 240px;
                        object-fit: cover;
                    }
                }

                #img15a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 30px;
                    margin-top: 30px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;

                    img {
                        margin: 15px;
                        height: 300px;
                        width: 470px;
                        object-fit: cover;
                    }
                }


            }

            .reference {
                display: flex;
                flex-direction: row;

                #l1 {
                    display: flex;
                    list-style-type: none;
                    margin-left: 0px;
                    margin-top: -15px;
                }
                #l2 {
                    display: flex;
                    list-style-type: none;
                    margin-left: 340px;
                }
            }
        }

        .pt16 {
            display: flex;
            flex-direction: column;
            align-items: center;

            #tittle16 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 37px;
                font-weight: 700;
                width: 600px;
                height: 60px;
                border-radius: 30px;
                margin-left: 20px;
                margin-top: 50px;
                align-items: center;
                justify-content: center;
            }

            .content {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;

                #img16 {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    list-style-type: none;
                    margin: 30px;
                    margin-top: 0px;
                    margin-left: 50px;
                    background-color: $bc-color;
                    width: 700px;
                    height: auto;
                    border-radius: 20px;

                    li {
                        margin-top: 15px;
                        margin-left: 30px;
                        margin-right: 15px;

                        a {
                            color: $anchorfont-color;
                            text-decoration: none;
                        }
                    }

                    h1 {
                        font-family: hammersmith, sans-serif;
                        color: $anchorfont-color;
                        font-weight: 700;
                        margin: 15px;
                        margin-left: 30px;
                    }
                }


            }

        }

        .pt17 {
            display: flex;
            flex-direction: column;

            #tittle17 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 35px;
                font-weight: 700;
                width: 600px;
                height: 60px;
                border-radius: 30px;
                margin-left: 170px;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
            }

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img17 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 30px;
                    margin-right: 0px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;

                    img {
                        margin: 15px;
                        height: 300px;
                        width: 400px;
                        object-fit: cover;
                    }
                }

                #img18 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 28px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;

                    img {
                        margin: 15px;
                        height: 300px;
                        width: 400px;
                        object-fit: cover;
                    }
                }


            }

            .dados {
                display: flex;
                flex-direction: row;
                font-family: hammersmith, sans-serif;
                .txt{
                    display: flex;
                    flex-direction: column;
                    font-family: hammersmith,sans-serif;
                    color: $anchorfont-color;
                    background-color: $bc-color;
                    border-radius: 15px;
                    width: 300px;
                    height: 100px;
                    margin-left: 100px;
                    justify-content: center;
                    align-items: center;
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    font-family: hammersmith,sans-serif;
                    color: $anchorfont-color;
                    background-color: $bc-color;
                    border-radius: 15px;
                    width: 300px;
                    height: 100px;
                    margin-left: 160px;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
.borda {
    .corpo {
        .pt18 {
            display: flex;
            flex-direction: column;

            #tittle18 {
                display: flex;
                background-color: $bc-color;
                color: $anchorfont-color;
                font-family: hammersmith, sans-serif;
                font-size: 35px;
                font-weight: 700;
                width: 600px;
                height: 70px;
                border-radius: 30px;
                margin-left: 160px;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
            }

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img18 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 15px;
                    margin-top: 30px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 350px;
                    width: 400px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    margin-top: 60px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                list-style-type: none;
                margin-left: 20px;
                margin-top: -15px;
            }
        }

        .pt19 {
            display: flex;
            flex-direction: column;

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #img19 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 30px;
                    margin-top: -30px;
                    background-color: $bc-color;
                    width: auto;
                    height: auto;
                }

                img {
                    margin: 15px;
                    height: 300px;
                    width: 400px;
                    object-fit: cover;
                }

                p {
                    margin: 20px;
                    text-align: justify;
                    font-family: hammersmith, sans-serif;
                    font-size: 21px;
                }
            }

            li {
                display: flex;
                list-style-type: none;
                margin-right: 30px;
                margin-top: -45px;
                justify-content: flex-end;
            }
        }
    }
}

.borda {
    width: 1000px;
    height: 5200px;
    background-color: #5D1E1C;
    display: flex;
    justify-content: center;
}

.corpo {
    width: 920px;
    height: 5350px;
    display: flex;

    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
}

#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-right: 25%;
    margin-left: 160px;
    height: 70px;
    width: 600px;
    background-color: rgb(93, 30, 28);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    font-family: hammersmith, sans-serif;
}
#titulo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-right: 25%;
    margin-left: 160px;
    height: 70px;
    width: 600px;
    background-color: rgb(93, 30, 28);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    font-family: hammersmith, sans-serif;
}
#titulo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-right: 25%;
    margin-left: 160px;
    height: 70px;
    width: 600px;
    background-color: rgb(93, 30, 28);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    font-family: hammersmith, sans-serif;
}

.subtitulo {
    display: flex;
    background-color: #5D1E1C;
    color: #ffffff;
    font-family: hammersmith, sans-serif;
    font-size: 25px;
    font-weight: 700;
    width: 400px;
    height: 50px;
    border-radius: 30px;
    margin-left: -19px;
    margin-top: 32px;
    margin-bottom: 19px;
    align-items: center;
    justify-content: center;
}

.texto {
    margin: 50px;
    text-align: justify;
    font-family: hammersmith, sans-serif;
    font-size: 21px;
}

.lista {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    font-family: hammersmith, sans-serif;
    font-size: 21px;
}

#itensME {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#image1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #5D1E1C;
    width: auto;
    height: auto;
}

#image1 img {
    border: 15px solid #5D1E1C;
    width: 380px;
    height: auto;
}

#itensME .texto {
    margin: 30px;
}

#itensME2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#image2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #5D1E1C;
    width: auto;
    height: auto;
}

#image2 img {
    border: 15px solid #5D1E1C;
    width: 380px;
    height: auto;
}

#itensME2 .texto {
    margin: 30px;
}

.subtituloOME {
    display: flex;
    background-color: #5D1E1C;
    color: #ffffff;
    font-family: hammersmith, sans-serif;
    font-size: 25px;
    font-weight: 700;
    width: 529px;
    height: 50px;
    border-radius: 30px;
    margin-left: -19px;
    margin-top: 32px;
    margin-bottom: 19px;
    align-items: center;
    justify-content: center;
}

#itensAD {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.AD .txt {
    margin: 21px;
    margin-top: -19px;
    text-align: justify;
    font-family: hammersmith, sans-serif;
    font-size: 21px;
}

#image3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 0px;
    background-color: #5D1E1C;
    width: auto;
    height: auto;
}

#image3 img {
    border: 15px solid #5D1E1C;
    width: 380px;
    height: auto;
}

#itensAD .texto {
    margin: 19px;
    margin-top: 50px;
}

#itensPM {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .texto {
        margin: 15px;

    }
}

#image4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #5D1E1C;
    width: auto;
    height: auto;
}

#image4 img {
    border: 15px solid #5D1E1C;
    width: 420px;
    height: 300px;
}

#itensPM .texto {
    margin: 19px;
}
